Setup

In [1]:
import pandas as pd
import json
import os
import plotly.express as px
from collections import Counter

Load Scholarship Data

In [4]:
def load_scholarship_data(workspace_path="../../workspace/Data"):
    json_path = os.path.join(workspace_path, "scholarships.json")
    if os.path.exists(json_path):
        with open(json_path, "r") as f:
            data = json.load(f)
        return pd.DataFrame(data)
    return None

df = load_scholarship_data()
df.head()

,Scholarship Name,Provider,Eligibility,Deadline,Benefits,Link
0,African Excellence Award,University of Glasgow,African students applying for MSc Data Science,2026-03-15,Full tuition + living stipend,https://www.gla.ac.uk/scholarships/african-exc...
1,Global Leaders Scholarship,University of Oxford,International students with leadership experience,2026-01-30,Partial tuition + mentorship program,https://www.ox.ac.uk/scholarships/global-leaders
2,Women in Tech Fellowship,MIT,Female students pursuing Computer Science or E...,2026-02-20,Full tuition + research grant,https://www.mit.edu/scholarships/women-in-tech
3,Climate Action Scholarship,ETH Zurich,Students working on climate-resilient agricult...,2026-04-10,Full tuition + living stipend + research funding,https://ethz.ch/scholarships/climate-action